/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 jun 2023, 12:12:31
    Author     : MarckTK
*/
.img-logo {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
}
